NFLSeasonCalculator/src/nfl/season/scorestrip/ScoreStrip.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gms">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="g" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="eid" use="optional"/>
                      <xs:attribute type="xs:int" name="gsis" use="optional"/>
                      <xs:attribute type="xs:string" name="d" use="optional"/>
                      <xs:attribute type="xs:string" name="t" use="optional"/>
                      <xs:attribute type="xs:string" name="q" use="optional"/>
                      <xs:attribute type="xs:string" name="k" use="optional"/>
                      <xs:attribute type="xs:string" name="h" use="optional"/>
                      <xs:attribute type="xs:string" name="hnn" use="optional"/>
                      <xs:attribute type="xs:byte" name="hs" use="optional"/>
                      <xs:attribute type="xs:string" name="v" use="optional"/>
                      <xs:attribute type="xs:string" name="vnn" use="optional"/>
                      <xs:attribute type="xs:byte" name="vs" use="optional"/>
                      <xs:attribute type="xs:string" name="p" use="optional"/>
                      <xs:attribute type="xs:string" name="rz" use="optional"/>
                      <xs:attribute type="xs:string" name="ga" use="optional"/>
                      <xs:attribute type="xs:string" name="gt" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="gd"/>
            <xs:attribute type="xs:byte" name="w"/>
            <xs:attribute type="xs:short" name="y"/>
            <xs:attribute type="xs:string" name="t"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>